extends ../layout

block content
	.container
			.row
				.col-md-5
					form(method='POST',action='/user/signinajax')
						.modal-body
							.form-group
								label(for='signinName') 用户名
								span(class='nameMsg')
								input#signinName.form-control.signinName(name='user[name]',type='text')
							.form-group
								label(for='signinPassword') 密码
								span(class='passMsg')
								input#signinPassword.form-control.signinPassword(name='user[password]',type='text')
						.modal-footer
							button.btn.btn-success.asy(type='button') 提交
	script(src='/js/user.js')